aioredis==2.0.1
amazon-transcribe==0.6.2
celery==5.3.6
email-validator==2.1.0.post1
fastapi==0.104.1
openai==0.28.1
pandas==2.2.0
pydub==0.25.1
redis==5.0.1
sqlmodel==0.0.14
twilio==8.10.0
uvicorn==0.23.2
websockets
